<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AutoSyncTime" value="false" />
		<!-- The "Automatic Time Synchronization" switch will not sync the system time if commented out or set to false (to prevent antivirus false positives).-->
		<add key="Verbose" value="false" />
		<add key="UseSsl" value="false" />
		<add key="Delay" value="3600" />
		<add key="Timeout" value="30000" />
		<add key="NetworkTimeout" value="5000" />
		<add key="Agreement" value="0" />
		<add key="Ntps" value="ntp.tencent.com;ntp.aliyun.com;time.cloudflare.com;time.asia.apple.com;rhel.pool.ntp.org;" />
		<add key="Urls" value="www.baidu.com;www.qq.com;www.google.com;" />
	</appSettings>
</configuration>